body {
  background-color: azure;
}
header {
  padding: 10px 5px 15px 5px;
}

.skill-n-tools {
  display: flex;
  gap: 16px;
}

.skill-n-tools .column-1{
  flex: 60%;
}

.skill-n-tools .column-2{
  flex: 40%;
}

@media only screen and (max-width: 576px) {
  .skill-n-tools {
    flex-direction: column;
    font-size: 20px;
  }
}
