* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  background-color: #c1fbff;
  margin: 0;
}

header {
  background-color: #fff;
  padding: 10px 5px 15px 5px;
  border-bottom: 3px solid gray;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

header ul {
  padding: 0;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding: 8px;
}

header ul li:last-child {
  display: none;
}

@media only screen and (max-width: 640px) {
  .navtoggle {
    position: relative;
  }
  header ul {
    display: flex;
    flex-direction: column;
  }
  .navtoggle {
    align-items: start;
  }
  header ul li:last-child {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle.responsive li:not(:last-child) {
    display: inline-block;
  }
  header ul li:hover {
    background-color: white !important;
  }
  header ul li img {
    width: auto;
  }
}

header ul li:hover {
  background-color: #03919b;
}

a {
  color: #121212;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgb(6, 0, 59);
  /* font-size: 32px; */
}
.button {
  border: 1px solid #ddd;
  padding: 8px 16px;
  background-color: #03919b;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  transition-duration: 0.5s;
  transition-property: scale;
}

img:hover {
  scale: 1.05;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

footer .row {
  display: unset;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

footer .copyright {
  text-align: center;
  font-size: 11px;
  opacity: 0.7;
}

header a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
}

@keyframes sun-move-reverse {
  from {
    transform: rotate(360deg);
    background-color: rgba(0, 30, 255, 0.746);
  }
  to {
    transform: rotate(0deg);
    background-color: rgba(255, 0, 208, 0.64);
  }
}

.sun-back {
  animation: 5s sun-move-reverse infinite alternate linear;
  border-radius: 50%;
}
